body{
    background: #2d2d2d;
    font-family: 'Source Sans Pro', sans-serif;
}
.vizceral-notice{
    display: block;
    position: absolute;
    padding: 0 3px;
    background-color: black;
    border-left: 2px solid grey;
    font-size: 14px;
    color: grey;
}
.vizceral-notice > ul{
    -webkit-padding-start: 5px;
}
.vizceral-notice > ul > li {
    display: block;
    line-height: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
